<!DOCTYPE html>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1> Enspire Interview App </h1>
    </div>
    <p class="navbar-default .navbar-right">
    <div class="dropdown">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" id="DropdownMenu1">
        Button <span class="caret"></span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item">a</a>
      </div>
    </div>
    </p>
  </div>
</nav>
